ion-label {
    --color: #50D890;

}
ion-icon{
    margin: 3%;
    color: #E2D25D;
}
.botao{
    background-color: #50D890;
    padding: 5%;
    
}
img{
    height: 12.5%;
    width: 12.5%;
    margin-left: 30%;
}
.linha {
    background-color: #E2D25D;
    height: 2px;
    width: 100%;
}
