<ion-tabs>
  <div class="tab">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
        <img src="../../assets/chameleonpog.png">
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  </div>

</ion-tabs>
