
ion-tabs {
    --ion-background-color: #272727;
}
/*ion-tab-bar{
    border-radius: 15px;
    margin-bottom: 15%;
    margin-left: 15%;
    margin-right: 15%;
}*/
ion-icon{
    color: #EFFFFB;
}
img{
    width: 4.5vh;
    height: auto;
}
.tab {
    background-color: transparent;
}