
ion-tabs{
    --ion-background-color: #272727;
    
}

ion-tab-bar{
    border-radius: 10px;
    margin: 15%;
}
ion-icon{
    color: #EFFFFB;
}
img{
    width: auto;
    height: 50%;
}
.tab{
    background-color: transparent;
}