.botao{
    color: #272727;
    --border-radius: 200px;
    font-weight: bold;
}
.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primario{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.secundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
h1{
    font-family:'Poiret One', cursive;
}