
ion-header {
    margin-left: 4%;
    margin-top: 2%;
    height: 40px;
    background-color: #006A71;
    
}

ion-header::after {
    background-image: none;
}

.backIcon {
    color: #C4FB6D;
    outline: none;
    
}

.headerDec {
    display: flex;
    height: 40px;
}

ion-card {
    margin-top: 1%;
    border-radius: 10px;
}

ion-card-header img {
    border-radius: 10px;
}

h1 {
    font-family: 'Poiret One', cursive;
    margin-top: 0px;
}

.cardPhoto {
    display: flex;
    justify-content: center;
}

.userMask {
    width: 12vw;
    height: 12vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #272727;
    object-fit: cover;
}

.userMask img {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.imgPlace2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
}

.userPart {
    width: 65%;
    display: flex;
    justify-content: flex-start;
}

h3 {
    color: #FFE9E9;
    margin-top: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
h4 {
    font-style: italic;
    font-size: 70%;
}

.allButtons {
    display: flex;
    justify-content: space-between;
}

.leftSideButtons {
    display: flex;
}

.upperContentPart {
    display: flex;
    justify-content: space-between;
}

.followAndTagPart {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.nameAndTime {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 5%;
}

ion-button {
    --border-radius: 40px;
    --background: #C4FB6D;
    --color: black;
}

.buttonFollow {
    width: 100%;
}

.following {
    --background: #272727;
    color: #C4FB6D;
    border: 1px solid #C4FB6D;
    border-radius: 20px;
    font-style: italic;
}

.intAndTrash {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin-top: 5%;
    margin-bottom: 3%;
    color: #FFE9E9;
}

.quoteIconLeft {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    width: 30%;
    margin-right: 2%;
}

.quoteIconRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    margin-left: 2%;
}

.leftRight {
    display: flex;
    justify-content: center;
}

.quoteLeft {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    width: 5%;
    margin-right: 2%;
}

.quoteRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 5%;
    margin-left: 2%;
}

.leftRightAndText {
    display: flex;
    justify-content: center;
}

.quoteIconLeft img, .quoteIconRight img {
    width: 2vh;
}

ion-card-subtitle {
    font-size: 85%;
    font-style: oblique;
    text-align: justify;
    //word-wrap: break-word;
    word-break: break-word;
}

ion-icon {
    margin-right: 5%;
}

.userNameAndNickname {
    display: flex;
    width: 100%;
}
.userNameAndNickname h3 {
    word-break: break-word;
}

.trash {
    display: flex;
    margin-top: 2%;
    justify-content: center;
}

.interactionButtons {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.interactionButton {
    --background: #272727;
    color: #C4FB6D;
    border: 1px solid #272727;
}

.interactionButton:hover {
    border: 1px solid #C4FB6D;
    border-radius: 20px;
}

.imgAndText {
    display: flex;
}

.commentText {
    margin-left: 3%;
}

.commentText h6 {
    font-style: italic;
    font-size: 70%;
    margin-bottom: 2%;
}

.hr {
    background-color: #C4FB6D;
    height: 0.1px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.input {
    background-color: #FFE9E9;
    border-radius: 30px;
    color: #272727;
    ::placeholder {
        margin-left: 30%;
    }
}

.inputTitle {
    background-color: #FFE9E9;
    border-radius: 30px;
    color: #272727;
    margin-top: 2%;
    margin-bottom: 5%;
    ::placeholder {
        margin-left: 30%;
    }
}

.inputText {
    background-color: #FFE9E9;
    border-radius: 30px;
    color: #272727;
    margin-top: 2%;
    margin-bottom: 5%;
    ::placeholder {
        margin-left: 30%;

    }
}

.inputAndSubmit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
}

.submitButton {
    --background: #C4FB6D;
    width: 18%;
    margin-left: 3%;
    height: 42px;
}

.submitIcon {
    color: #272727;
}

@media screen and (max-width: 350px) {
    .followAndTagPart {
        flex-direction: column;
    }

    .buttonTag, .buttonFollow {
        width: 100%;
    }
}

.ratingCard {
    box-shadow: none;
}

.ratings {
    display: flex;
}

.starButton {
    --background: #272727;
    --box-shadow: none;
}

.star {
    color: gray;
}

.click {
    color: #C4FB6D;
}
