<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
<ion-header>
  <div class="headerDec">
    <ion-icon (click)="voltar()" class="backIcon" name="chevron-back-circle-outline" size="large"></ion-icon>
    <h1>Pipper</h1>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="10" pullMax="100" mode="md">
    <ion-refresher-content
    refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="user">
    <ion-card-header *ngIf="editModeOff">
  <ion-card>
    <ion-card-header>
      <div class="cardPhoto">
        <img [src]="photoPost">
      </div>
    </ion-card-header>

      <ion-card-header *ngIf="editMode">
        <img
        class="foto-perfil"
        [src]="photoPost"
        vertical="center"
        horizontal="center"
        />
        <ion-fab-button (click)="takePicture()">
          <ion-icon></ion-icon>
        </ion-fab-button>
      </ion-card-header>

    <ion-card-content>
      <div class="upperContentPart"> <!--row-->

        <div class="userPart"> <!--row-->
          <div class = "imgPlace2">
            <div class="userMask">
              <img [src]="photo" (click)="redirectUser()">
            </div>
          </div>
          <div class="nameAndTime"> <!--collumn-->
            <div class="userNameAndNickname">
              <h3>{{user}}</h3>
            </div>
            <div class="timePart"><h4>Hoje às 10h30</h4></div>
          </div>
        </div>

        <div class="followAndTagPart"> <!--row-->
          <ion-button [ngClass]="{'following':followButton.chance}" size="small" class="buttonFollow" strong="true" mode="md" (click)="changeFollow()"><span style="text-transform:none!important;">{{followButton.follow}}</span></ion-button>
        </div>
      </div>
      <!-- Display das informações do post -->
      <div *ngIf="editModeOff">
      <div class="postTitle">
        <h2>{{post.title}}</h2>
      </div>
      <div class="leftRightAndText">
        <div class="quoteIconLeft">
          <img src="../assets/quote.png">
        </div>
        <ion-card-subtitle mode="md">{{post.text}}</ion-card-subtitle>
        <div class="quoteIconRight">
         <img src="../assets/quote2.png">
        </div>
      </div>
    </div>
    <!-- Div para editar as informações do post -->
    <div *ngIf="editMode" class="inputAndSubmit">
      <form [formGroup]="postForm" (ngSubmit)="editPost(postForm)">

      <div class="postTitle">
        <ion-input position="floating" placeholder="{{post.title}}" class="inputTitle" mode="md" type="title" formControlName="title" maxlength="50"></ion-input>
      </div>
      <div class="leftRight">
        <div class="quoteLeft">
          <img src="../assets/quote.png">
        </div>
        <ion-input position="floating" placeholder="{{post.text}}" class="inputText" mode="md" type="text" formControlName="text" maxlength="256"></ion-input>
        <div class="quoteRight">
         <img src="../assets/quote2.png">
        </div>
      </div>
      <ion-button class="interactionButton" size="small" mode="md" type="submit"><span style="text-transform:none!important;">Concluído</span></ion-button>
      
    </form>
    </div>
      
      <!-- Botões que desaparecem quando enquanto a edição do post nao estiver finalizada -->
      <div class="interactionButtons" *ngIf= "editModeOff">
        <div class="allButtons">
          <div class="leftSideButtons">
            <ion-button class="interactionButton" size="small" mode="md" (click)="likePost()"><ion-icon name="thumbs-up-outline"></ion-icon>{{post.like}}</ion-button>
            <ion-button class="interactionButton" size="small" mode="md" (click)="listComments()"><ion-icon name="chatbubble-outline"></ion-icon></ion-button>
            <ion-button class="interactionButton" size="small" mode="md"><ion-icon name="star-outline"></ion-icon>{{post.rating}}</ion-button>
          </div>
          <div class="postTag">
            <ion-button size="small" class="buttonTag" strong="true" mode="md"><span style="text-transform:none!important;">Tags</span></ion-button>
          </div>
        </div>
        <div class="trash">
          <ion-button class="interactionButton" size="small" mode="md" (click)="edit()" *ngIf="editButton"><ion-icon name="create-outline"></ion-icon><span style="text-transform:none!important;">Editar</span></ion-button>
          <ion-button class="interactionButton" size="small" mode="md" (click)="presentAlert()" *ngIf="deleteButton"><ion-icon name="trash-outline"></ion-icon><span style="text-transform:none!important;">Apagar</span></ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card><ion-card-content>
    <form [formGroup]="commentForm" (ngSubmit)="sendComment()">
    <div class="inputAndSubmit">
      <ion-input position="floating" placeholder="Deixe sua mensagem" class="input" mode="md" type="text" formControlName="text" maxlength="248"></ion-input>
      <ion-button class="submitButton" mode="ios" type="submit">
        <ion-icon name="paper-plane-outline" size="large" class="submitIcon"></ion-icon>
      </ion-button>
    </div>
  </form>
  </ion-card-content></ion-card>

  <div class="commentPart" *ngIf="showComment">
    <ion-card>
      <ion-card-content>
        <app-comment
        *ngFor="let comment of comments"
        [comments]="comment"


        ></app-comment>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<!--*ngIf="showComment" in commentPart--> 
