<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
<div class="busca">
  <div class="search" *ngIf="searchUser">
    <ion-icon name="search-outline" (click)="search()" type="Submit"></ion-icon>
    <form [formGroup]="searchForm" (ngSubmit)="searchPage()"><ion-input type="text" formControlName="name"></ion-input>
    </form>
  </div>
  <div class="search2" *ngIf="searchPost">
    <ion-icon name="search-outline" type="submit" (click)="search()"></ion-icon>
    <form>
      <ion-button class="tag" color="tertiary" (click)="presentPopover($event)">
        Tags
        <ion-icon class="seta" name="chevron-down-outline" ></ion-icon>
      </ion-button>
    </form>
  </div>
  <div class="slideTag">
    <ion-button class="tag" color="tertiary" *ngIf="servico" (click)="close(1)">serviço <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
    <ion-button class="tag" color="tertiary" *ngIf="produto" (click)="close(2)">produto <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
    <ion-button class="tag" color="tertiary" *ngIf="fisico" (click)="close(3)">fisico <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
    <ion-button class="tag" color="tertiary" *ngIf="online" (click)="close(4)">online <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
    <ion-button class="tag" color="tertiary" *ngIf="entretenimento" (click)="close(5)">entretenimento <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
    <ion-button class="tag" color="tertiary" *ngIf="saude" (click)="close(6)">saude <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
    <ion-button class="tag" color="tertiary" *ngIf="esporte" (click)="close(7)">esporte <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
    <ion-button class="tag" color="tertiary" *ngIf="alimentacao" (click)="close(8)">alimentacao <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
    <ion-button class="tag" color="tertiary" *ngIf="utilidades_domesticas" (click)="close(9)">utilidades domesticas <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
    <ion-button class="tag" color="tertiary" *ngIf="infantis" (click)="close(10)">infantis <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
  </div>
  <div class="botao">
    <ion-button class="botao" (click)="searchPoste()" color="light">Posts</ion-button>
    <ion-button class="botao" (click)="searchUsuario()" color="light">Usuários</ion-button>
  </div>
</div>
<ion-content>

<div *ngIf="botaoPost">
<app-home-post></app-home-post>
</div>

<div *ngIf="botaoUser">
    <ion-card *ngFor="let user of users">
      <ion-card-content>
        <app-user-component
        [user]="user"
        ></app-user-component>
      </ion-card-content>
    </ion-card>
</div>

</ion-content>