<style>
  @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>


<ion-header class="ion-no-border" mode="md">
  <ion-icon class="header" name="chevron-back-circle-outline"size="large" (click)="voltar()"></ion-icon>
</ion-header>

<ion-content mode="md">
  <div class="corpo">
    <div class="imagem">
      <img class="logo" src="../../assets/chameleonpog.png">
    </div>    
    <div class="conteudo">
      <img
          class="foto-perfil"
          [src]="photo"
          vertical="center"
          horizontal="center"
      />
    <h3>Escolha sua Foto</h3>
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    </div>
    <div class="fim">
      <div class="pular" (click)="sair()">Pular</div>
      <ion-button class="botao" expand="block" size="Secondary" type="submit" shape="round" color ="success" (click)="cadastro()">Continuar</ion-button>
    </div>
  </div>
</ion-content>



