
    <div class="userPhotoAndFollow"> <!--row-->
      <div class="photoAndUser">
        <div class = "imgPlace">
          <div class="mask">
            <img [src]="post.user.photo">
          </div>
        </div>
        <div class="nameAndTime">
          <div class="nameAndUser">
            <h4 class="name">{{post.user.name}}</h4>
            <div class="userTime">
            <h4 class="username">@{{post.user.nickname}}</h4>
          </div>
          </div>
        </div>
        </div>
      <!--<div class="follow">
        <ion-button size="small" class="button" strong="true" mode="ios">{{followButton.follow}}</ion-button>
      </div>-->
    </div>
    <div class="homePost">
      <div class="imgAndTags" *ngIf="post.photo"> <!--collumn-->
          <div class="imgPost">
            <img [src]='post.photo'>
          </div>
      </div>

      <div class="textUserAndButtons"> <!--collumn-->

        <div class="text"> <!--collumn-->
          <h2>{{post.title}}</h2>
          <h3>{{post.text}}</h3>
        </div>
      </div>
    </div>
  
    <div class="tagsPost">
      <ion-button mode="md" class="tags" 
      *ngFor="let tags of post.tags"
      >
      <span style="text-transform:none!important;">
        {{tags.title}}
      </span>
      </ion-button>
    </div>







