ion-app {
    background-color: #006A71;
}

ion-header {
    background-color: #006A71;
}

ion-content {
    --background: #006A71;
    margin-top: 20%;
    background-color: #006A71;
}

.logoName {
    display: flex;
    margin-top: 2%;
    justify-content: center;

}

.logoName img {
    width: 10%;
    height: auto;
}

.searchbuttons {
    display: flex;
    margin-top: 2%;
    padding-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-between;
    background-color: #006A71;
}

ion-button {
    width: 30%;
    --border-radius: 15px;
    --background: #272727;
    color: #EFFFFB;
    font-family: 'Poiret One', cursive;
    -webkit-text-stroke: 0.3px #EFFFFB;
    letter-spacing: 1px;
}

ion-button:hover {
    --background: #EFFFFB;
    color: #272727;
    -webkit-text-stroke: 1px #272727;
    transition: 2s;
}

.buttonclass {
    height: 42px;
}

app-home-post {
    outline: none;
}
