<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
<ion-app>
<div class="logoName">
    <img src="../assets/chameleonpog.png">
</div>
    <div class="searchbuttons">
        <ion-button mode="ios" class="buttonclass">Seguindo</ion-button>
        <ion-button mode="ios" class="buttonclass">Topo</ion-button>
        <ion-button mode="ios" class="buttonclass">Novo</ion-button>
    </div>
<ion-content>
    <app-home-post routerLink="/post"></app-home-post>
    <app-home-post></app-home-post>
    <app-home-post></app-home-post>
    <app-home-post></app-home-post>
    
</ion-content>
</ion-app>
