<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
<ion-app>
<div class="logoName">
    <img src="../assets/chameleonpog.png">
</div>
    <div class="searchbuttons">
        <ion-button mode="ios" class="buttonclass" (click)="showFollow(showSeguindo)">Seguindo</ion-button>
        <ion-button mode="ios" class="buttonclass" (click)="showTop(showTopo)">Topo</ion-button>
        <ion-button mode="ios" class="buttonclass" (click)="showNew(showNovo)">Novo</ion-button>
    </div>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="10" pullMax="100" mode="md">
    <ion-refresher-content
    refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  
  <div *ngIf="showNovo">
    <app-home-post
     *ngFor="let post of posts1"
     [post]="post"
     (click)='redirectPost(post.id)'
     
     
     >
    </app-home-post>
  </div>

  <div *ngIf="showSeguindo">
    <app-home-post
    *ngFor="let post of posts3"
    [post]="post"
    (click)='redirectPost(post.id)'
    
    ></app-home-post>
  </div>

  <div *ngIf="showTopo">
    <app-home-post
     *ngFor="let post of posts2"
     [post]="post"
     (click)='redirectPost(post.id)'
     
     
     >
    </app-home-post>
  </div>
</ion-content>

</ion-app>
