*{
    --ion-background-color: #272727;
    font-family: 'Poiret One';
    --color: #50D890;
}
ion-content {
    --width: 100%;
}
.profileContent {
    display: flex;
    flex-direction: column;
}

.profileMask {
    width: 20vw;
    height: 20vw;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    background-color: #272727;
    object-fit: cover;

}

.profileMask img {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.imgPlace {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.userNumbers {
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userNames {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
    justify-content: center;
}

.username {
    width: auto;
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
    margin-top: 0%;
    margin-bottom: 2%;
    color: #FFE9E9;

}

.hr {
    background-color: #C4FB6D;
    height: 0.1px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.userPosts, .userFollowing, .userFollowers {
    width: 100%;
    align-self: center;
}

.number, .numberText {
    display: flex;
    justify-content: center;
}

.leaf {
    color: #C4FB6D;
    margin-top: 1%;
    width: 30px;
}

.names {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 100%;
}

.conteudo {
    width: 100%;
    margin-left: 2%;
    margin-top: 5%;
}

h3 {
    color: #50D890;
    font-size: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    -webkit-text-stroke: 0.5px #50D890;
}

h5 {
    color: #FFE9E9;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

h6 {
    font-size: 70%;
    margin-top: 2%;
    margin-bottom: 5%;
    color: silver;
    font-family: 'Roboto', sans-serif;
}

.logout, .myProfile {
    display: flex;
    align-content: center;
    align-items: center;
}

.logout {
    margin-top: 20%;
}
