.iconMask {
    width: 15vw;
    height: 15vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    background-image: url("../../../assets/chamaBG.png");
    background-repeat: repeat;
    background-size: contain;
}

.iconMask img {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.imgPlace {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    margin-left: 2%;
}

.imgAndText {
    width: 100%;
    display: flex;
}

.commentText {
    width: 80%;
    margin-left: 3%;
}

.commentText h6 {
    font-style: italic;
    font-size: 70%;
    margin-bottom: 2%;
}

.commentText h5 {
    text-align: justify;
}

.commentText h3 {
    color: #FFE9E9;
}

.hr {
    background-color: #C4FB6D;
    height: 0.1px;
    margin-top: 3%;
    margin-bottom: 5%;
}
