<div class="imgAndText">
  <div class = "imgPlace">
    <div class="iconMask">
      <img [src]="comments.user.photo">
    </div>
  </div>
  <div class="commentText">
    <h3>{{comments.user.name}}</h3>
    <h6></h6>
    <h5>{{comments.text}}</h5>
  </div>
  <div class="trash">
    <ion-button class="trashButton" (click)='presentAlert()' *ngIf="deleteButton">
     <span>
      <ion-icon name="trash-outline" class="trashIcon"></ion-icon>
     </span>
    </ion-button>
  </div>
</div>
<div class="hr"></div>