<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
  </style> 

<ion-content>
<ion-card>
  <div class="ionTitle">
    <h2>O que tem a dizer?</h2>
  </div>
</ion-card>

<ion-card>
  <form [formGroup]="postForm" (ngSubmit) = "submitForm(postForm)">
  <ion-card-header *ngIf="photo">
  <img
      class="foto-perfil"
      [src]="photo"
      vertical="center"
      horizontal="center"
  />
</ion-card-header>
<div class="user">
<ion-fab-button (click)="takePhoto()" color="tertiary">
  <ion-icon name="camera"></ion-icon>
</ion-fab-button>
</div>

<ion-card-content>
  <div class="usuario">
    <div class="imgPlace">
      <div class="imagem">
        <img src="https://i.pinimg.com/736x/27/9d/60/279d60166aa6d25c9bf4fa4cd2f9f9eb.jpg" class="rosto">
      </div>
    </div>
    <div class="nome"><h4>Fulano <br> @fulano</h4></div>
    <div class="tag"><ion-button color="tertiary" mode="md"><ion-icon name="chevron-back-outline"></ion-icon>tag</ion-button></div>
  </div>
    <ion-list>
      <ion-item>
        <ion-label position="floating" class="label">Título</ion-label>
        <ion-input type="title" formControlName="title" maxLength="50"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="label">Descrição</ion-label>
        <ion-textarea auto-grow="true" type="text" formControlName="text" type="text" maxLength="256"></ion-textarea>
      </ion-item>
    </ion-list>
    <div class="button">
      <ion-button class="botao" mode="md" expand="block" size="Secondary" type="submit" shape="round" [disabled]="postForm.invalid" color ="success">Continuar</ion-button>
    </div>
  </form>
</ion-card-content>
</ion-card>
</ion-content>
