*{
    font-family: 'Roboto', sans-serif;
}

ion-content{
    --ion-background-color: #006A71;
}
ion-button{
    color: #000000;
    --border-radius: 20px;
}
ion-card{
    overflow: hidden;
    overflow-y: auto;
    margin-top: 2%;
    border-radius: 10px;
    margin-bottom: 2%;
}
.ionTitle {
    display: flex;
    justify-content: center;
}

.ionTitle h2 {
    font-size: 150%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Poiret One';
    color: #50D890;
}
.imagem{
    margin-left: 3%;
    width: 15vw;
    height: 15vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #272727;
    object-fit: cover;
}

.imagem img {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.imgPlace {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
}

.usuario{
    display: flex;

}
h4{
    font-size: 1em;
    color: #EFFFFB;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.tag{
    --ion-color: #000000;
    border-radius: 200px;
    width: 30%;

}
.rosto{
    width: 30vw;
    height: 20vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #272727;
    object-fit: cover;
}
.nome{
    margin-left: 5%;
    width: 50%;
}
img.foto-perfil{
    width: 40;
    border-radius: 10px;

}
.button {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.botao {
    width: 50%;
}

.label {
    color: #50D890;
}

.ratingCard {
    box-shadow: none;
}

.ratings {
    display: flex;

}

.starButton {
    --background: #272727;
    --box-shadow: none;
}

.star {
    color: #50D890;
}

.ratingText {
    display: flex;
    width: 100%;
    margin-left: 5%;
}


.rating {
    width: auto;
}

.click {
    color: #C4FB6D;
}