<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
  </style> 

<ion-content>
<ion-card>
  <div class="ionTitle">
    <h2>O que tem a dizer?</h2>
  </div>
</ion-card>

<ion-card>
  <form [formGroup]="postForm" (ngSubmit) = "submitForm(postForm)">
  <ion-card-header *ngIf="photo">
  <img
      class="foto-perfil"
      [src]="photo"
      vertical="center"
      horizontal="center"
  />
</ion-card-header>
<div class="user">
<ion-fab-button (click)="takePhoto()" color="tertiary" mode="md">
  <ion-icon name="camera"></ion-icon>
</ion-fab-button>
</div>

<ion-card-content>
  <div class="tags">
    <div class="tagButton">
      <ion-button size="small" color="tertiary" mode="md" (click)="presentPopover($event)">
      tags<ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
    </div>
    <div class="slideTag">
      <ion-button class="tag" size="small" fill="outline" *ngIf="servico" (click)="close(1)">serviço <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
      <ion-button class="tag" size="small" fill="outline" *ngIf="produto" (click)="close(2)">produto <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
      <ion-button class="tag" size="small" fill="outline" *ngIf="fisico" (click)="close(3)">fisico <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
      <ion-button class="tag" size="small" fill="outline" *ngIf="online" (click)="close(4)">online <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
      <ion-button class="tag" size="small" fill="outline" *ngIf="entretenimento" (click)="close(5)">entretenimento <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
      <ion-button class="tag" size="small" fill="outline" *ngIf="saude" (click)="close(6)">saude <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
      <ion-button class="tag" size="small" fill="outline" *ngIf="esporte" (click)="close(7)">esporte <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
      <ion-button class="tag" size="small" fill="outline" *ngIf="alimentacao" (click)="close(8)">alimentacao <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
      <ion-button class="tag" size="small" fill="outline" *ngIf="utilidades_domesticas" (click)="close(9)">utilidades domesticas <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
      <ion-button class="tag" size="small" fill="outline" *ngIf="infantis" (click)="close(10)">infantil <ion-icon name="close-circle-outline" class="close"></ion-icon></ion-button>
    </div>
  </div>
    <ion-list>
      <ion-item>
        <ion-card class="ratingCard">
          <ion-card-content>
            <div class="ratings">
              <ion-button class="starButton" (click)="star(1)"><ion-icon name="star" class="star" [ngClass]="{'click':starColor1}"></ion-icon></ion-button>
              <ion-button class="starButton" (click)="star(2)"><ion-icon name="star" class="star" [ngClass]="{'click':starColor2}"></ion-icon></ion-button>
              <ion-button class="starButton" (click)="star(3)"><ion-icon name="star" class="star" [ngClass]="{'click':starColor3}"></ion-icon></ion-button>
              <ion-button class="starButton" (click)="star(4)"><ion-icon name="star" class="star" [ngClass]="{'click':starColor4}"></ion-icon></ion-button>
              <ion-button class="starButton" (click)="star(5)"><ion-icon name="star" class="star" [ngClass]="{'click':starColor5}"></ion-icon></ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <div class="ratingText">
        <h5 class="chosenRating">Sua avaliação: {{creator_rating}} <ion-icon name="star" class="star"></ion-icon></h5>
      </div>
      <ion-item>
        <ion-label position="floating" class="label">Título</ion-label>
        <ion-input type="text" formControlName="title" maxLength="50"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="label">Descrição</ion-label>
        <ion-textarea auto-grow="true" formControlName="text" type="text" maxLength="256"></ion-textarea>
      </ion-item>
    </ion-list>
    <div class="button">
      <ion-button class="botao" mode="md" expand="block" size="Secondary" type="submit" shape="round" [disabled]="postForm.invalid" color ="success">Continuar</ion-button>
    </div>
  </ion-card-content>
  </form>
</ion-card>
</ion-content>
