<style>
  @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

<ion-content mode="md">
  <div class="imagem">
  <img src="../../assets/chameleonpog.png">
  </div>
  <div class="ion-padding">
    <form [formGroup]="loginForm" (ngSubmit) = "login(loginForm)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
      <div class="login">
        <ion-button class="botao" expand="block" size="Secondary" type="submit" shape="round" [disabled]="loginForm.invalid" color ="success">Entrar</ion-button>
        <div class="entrar" (click)="close()">Cadastrar-se</div>
      </div>
    </form>
  </div>
</ion-content>