.homePost {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.imgAndTags {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 2%;
}

.imgAndTags img {
    border-radius: 10%;
}

.slides {
    height: 100%;
}

.slide {
    height: 100%;
}

.imgPost {
    width: 30vw;
    height: 30vw;
    position: relative;
    overflow: hidden;
    border-radius: 10%;
    background-color: #272727;
    object-fit: cover;
}

.imgPost img {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.tagsPost {
    display: flex;
    overflow-x: scroll;
    border-radius: 50px;
    margin-top: 3%;
}

.hr {
    background-color: #C4FB6D;
    height: 0.1px;
    margin-top: 5%;
}
.textUserAndButtons {
    width: 60%;
    margin-left: 3%;
    max-width: 100%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spread {
    width: 95%;
    margin-top: 2%;
}

.noMargin {
    margin-top: 0px;
}

.photoAndUser {
    display: flex;
    width: 100%;
}

.mask {
    width: 10vw;
    height: 10vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

.mask img {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.imgPlace {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15%;
}

.userPhotoAndFollow {
    display: flex;
    margin-bottom: 2%;
}

ion-button {
    --border-radius: 30px;
    margin-left: 0px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100%;
    --background: #C4FB6D;
    color: black;
    margin-left: 2%;
}

ion-card-content {
    padding-bottom: 1%;
}
div.buttons ion-button.button {
    width: 100%;
    --border-radius: 0px;
    --background: #272727;
    color: #C4FB6D;
    --box-shadow: none;
}

ion-icon {
    margin-right: 5%;
}

.name {
    color: #FFE9E9;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0px;
}

.username {
    margin-top: 0px;
    font-size: 90%;
}

.nameAndTime {
    width: 100%;
}

.userTime {
    width: 100%;
    display: flex;
}

.nameAndUser {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95%;
    margin-left: 2%;
}

h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h6 {
    margin-left: 2%;
}

.time {
    font-size: 80%;
    font-style: italic;
}

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text h2 {
    color: #FFE9E9;
    margin-top: 0%;
}

ion-chip {
    margin-bottom: 1%;
}

ion-card {
    border-radius: 10px;
}

.follow {
    display: flex;
    width: 40%;
}

.tags {
    height: 25px;
    width: auto;
    font-family: 'Poiret One', cursive;
    --background: #404040;
    color: #FFE9E9;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

@media screen and (max-width: 350px) {
    .textUserAndButtons {
        align-self: center;
        width: 100%;
    }
    .homePost {
        flex-direction: column;
        align-items: center;
    }
    .imgAndTags {
        width: 100%;
        margin-right: 0%;
        align-items: center;
        margin-bottom: 5%;
    
    }
    .tagsPost {
        margin-bottom: 5%;
    }
}

