<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
<ion-header>
  <div class="headerDec">
    <ion-icon routerLink=".." class="backIcon" name="chevron-back-circle-outline" size="large"></ion-icon>
    <h1>Pipper</h1>
  </div>
  
</ion-header>

<ion-content>

  <ion-card class="profile">
    <ion-card-content>
      <div class="profileContent">
        <div class="profileMask">
          <img src="https://pbs.twimg.com/profile_images/1082020318523412480/E87sUSUc_400x400.jpg">
        </div>
        <div class="userInfo" *ngIf="user">
          <h2>{{user.name}}<ion-icon name="leaf-outline" class="leaf"></ion-icon></h2>
          <div class="userNumbers">
            <div class="userPosts">
              <div class="number"><h3>{{postCount}}</h3></div>
              <div class="numberText"><h6>Publicações</h6></div>
            </div>
            <div class="userFollowers">
              <div class="number"><h3>8</h3></div>
              <div class="numberText"><h6>Seguidores</h6></div>
            </div>
            <div class="userFollowing">
              <div class="number"><h3>102</h3></div>
              <div class="numberText"><h6>Seguindo</h6></div>
            </div>
          </div>
        </div>
      </div>
      <div class="hr"></div>
  
      <div class="followOrEdit">
        <ion-button mode="md" class="buttonClass" (click)="changeFollow()" *ngIf="outroPerfil">{{followButton.follow}}</ion-button>
        <ion-button mode="md" class="buttonClass" *ngIf="outroPerfil">Mensagem</ion-button>
        <ion-button mode="md" class="buttonClass" (click)="editar()" *ngIf="meuPerfil">Editar perfil</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
  <div class="sticky" style="z-index:10" *ngIf="user">
    <ion-card class="posts">
      <ion-card-content>
        <div class="fixedHeader">
          <div class="postHeader">
            <h2 class="postTitle">Publicações de</h2><h2>@{{user.nickname}}</h2>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="notSticky" style="z-index:1">
    <app-profile-post
    *ngFor="let post of posts"
    [post]="post"
    (click)="redirectPost(post.id)"
    
    ></app-profile-post>
  </div>
</ion-content>