<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
<ion-header>
  <div class="headerDec">
    <ion-icon routerLink=".." class="backIcon" name="chevron-back-circle-outline" size="large"></ion-icon>
    <h1>Pipper</h1>
  </div>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <div class="profileContent">
        <div class="profileMask">
          <img src="https://pbs.twimg.com/profile_images/1082020318523412480/E87sUSUc_400x400.jpg">
        </div>
        <div class="userInfo">
          <h2>Fulano <br>(@fulano)</h2>
          <div class="number">
            <ion-icon name="leaf-outline" class="leaf"></ion-icon><h5>54 Posts</h5>
          </div>
        </div>
      </div>
      <div class="hr"></div>

      <div class="followOrEdit">
        <ion-button class="buttonClass">Seguir</ion-button>
        <ion-button class="buttonClass">Mensagem</ion-button>
        <!--<ion-button class="buttonClass">Editar perfil</ion-button>-->
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <app-profile-post></app-profile-post>
    </ion-card-content>
  </ion-card>
</ion-content>