ion-header {
    height: 50px;
    background-color: #006A71;
    position: static;
}

ion-card {
    border-radius: 10px;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    height: 10%;
    background-color: #006A71;
}

ion-header::after {
    background-image: none;
}

.backIcon {
    color: #C4FB6D;
    outline: none;
}

.headerDec {
    display: flex;
    height: 40px;
    margin-left: 4%;
    margin-top: 2%;
}

h1 {
    font-family: 'Poiret One', cursive;
    margin-top: 0px;
}

ion-icon {
    margin-right: 5%;
}

.profile, .posts {
    margin-bottom: 3%;
    overflow: scroll;
}

.posts ion-card-content {
    padding-top: 4%;
    padding-bottom: 4%;
}
.profile {
    margin-top: 1%;
    margin-bottom: 10%;
}

.profileMask {
    width: 20vw;
    height: 20vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #272727;
    object-fit: cover;
}

.profileMask img {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: auto;
    background-size: cover;
}

.imgPlace {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

.postsCard {
    margin-top: 0%;
}

h2 {
    color: #FFE9E9;
    margin-left: 4%;
}

.hrPost {
    background-color: #50D890;
    height: 1px;
    margin-top: 3%;
}

.userNumbers {
    display: flex;
    justify-content: space-between;
    height: 70%;
    margin-top: 3%;
}

.profileContent {
    display: flex;
}

.userInfo {
    width: 100%;
}

.leaf {
    color: #C4FB6D;
    margin-left: 5%;
}

.hr {
    background-color: #FFE9E9;
    height: 0.1px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.followOrEdit {
    display: flex;
    justify-content: space-between;
}

.buttonClass {
    width: 100%;
    font-family: 'Poiret One', cursive;
    color: black;
    -webkit-text-stroke: 1px black;
    letter-spacing: 2px;
    border: 1px solid #50D890;
    border-radius: 10px;
}

.userPosts, .userFollowing, .userFollowers {
    width: 100%;
    align-self: center;
}

.number, .numberText {
    display: flex;
    justify-content: center;
}

h3 {
    color: #50D890;
    font-size: 100%;
    font-family: 'Poiret One', cursive;
    -webkit-text-stroke: 0.5px #50D890;
}

h6 {
    font-size: 80%;
}

@media screen and (max-width: 350px) {
    .profileContent {
        flex-direction: column;
        align-items: center;
    }

    .imgPlace {
        margin-bottom: 3%;
        align-items: center;
    }

    .profileMask {
        width: 20vw;
        height: 20vw;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        background-color: #272727;
        object-fit: cover;
    }

    .userInfo h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        margin-left: 0px;
    }

    .userPosts, .userFollowing, .userFollowers {
        margin-bottom: 5%;
    }
}

.postHeader {
    display: flex;
}

.postTitle {
    color: grey;
}

.following {
    --background: #272727;
    font-style: italic;
    --border-radius: 10px;
    --color: #50D890;
    -webkit-text-stroke: 1px #50D890;
    
}