<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
<ion-header>
  <div class="headerDec">
    <ion-icon routerLink=".." class="backIcon" name="chevron-back-circle-outline" size="large"></ion-icon>
    <h1>Pipper</h1>
  </div>
  
</ion-header>

<ion-card>
  <div class="ionTitle">
    <h2>Edite seu perfil <ion-icon name="leaf-outline" class="leaf"></ion-icon></h2>
  </div>
</ion-card>
  <ion-content>
  <ion-card>
    <ion-card-header>
      <form  class="displayForm" [formGroup]="registerForm" (ngSubmit) = "submitForm(registerForm)">
        <img
            class="foto-perfil"
            [src]="photo"
            vertical="center"
            horizontal="center"
        />
        <div class="altere">
          <h4>Altere sua foto</h4>
          <ion-fab-button (click)="takePicture()">
            <ion-icon name="camera" class="acamera"></ion-icon>
          </ion-fab-button>
          <ion-button class="botaoDois" (click)="presentToast()" expand="block" size="Secondary" type="submit" shape="round" color ="success">Salvar</ion-button>
        </div>
      </form>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="h4change"><h4>Altere suas informações</h4></div>
      <div class="forms">
        <form [formGroup]="registerForm" (ngSubmit) = "editarPerfil()">
          <ion-list class="ionList">
            <ion-label>Nome</ion-label>
            <ion-item class="ionItem">
              <ion-input type="name" placeholder="Fulano" formControlName="name"></ion-input>
            </ion-item>
            <ion-label>Nickname</ion-label>
            <ion-item class="ionItem">
              <ion-input type="nickname" placeholder="@fulano" formControlName="nickname"></ion-input>
            </ion-item>
            <div class="hr"></div>
            <ion-label>E-mail</ion-label>
              <ion-item class="ionItem">
                <ion-input type="email" placeholder="fulano@gmail.com" formControlName="email"></ion-input>
              </ion-item>
              <ion-label>Senha</ion-label>
              <ion-item class="ionItem">
                <ion-input type="password" placeholder="******" formControlName="password"></ion-input>
              </ion-item>
            </ion-list>
            <div class="login">
              <ion-button class="botao" expand="block" size="Secondary" type="submit" shape="round" color ="success">Salvar</ion-button>
            </div>
            </form>
        </div>
      </ion-card-content>
    </ion-card>

</ion-content>
