<ion-card class="postsCard">
  <ion-card-content>
    <div class="profilePost">
      <div class="profileContent">
        <div class="profileImg">
          <img src="https://emporioquatroestrelas.vteximg.com.br/arquivos/ids/159625-1000-1000/folha-de-louro-emp.png?v=637130581619630000">
        </div>
        <div class="timeHrTitle">
          <h4>Hoje às 15h10</h4>
          <div class="hr2"></div>
          <h2>{{post.title}}</h2>
        </div>
      </div>
      <div class="profileButtons">
        <ion-button size="small" class="button"><ion-icon name="thumbs-up-outline"></ion-icon><h6>{{post.like}}</h6></ion-button>
        <ion-button size="small" class="button"><ion-icon name="chatbubble-outline"></ion-icon><h6>10</h6></ion-button>
        <ion-button size="small" class="button"><ion-icon name="star" class="star"></ion-icon><h6>{{post.rating}}</h6></ion-button>
        <ion-button size="small" class="button"><h6>Tags</h6></ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>

