<div class="userComponent">
  <div class="userProfilePic">
    <img src="https://i.pinimg.com/736x/27/9d/60/279d60166aa6d25c9bf4fa4cd2f9f9eb.jpg">
  </div>
    <div class="userInfo">
      <div class="name">
        <h1>
          {{user.name}}
        </h1>
        <ion-icon name="leaf-outline" class="leaf"></ion-icon>
      </div>
      <h3>
        @{{user.nickname}}
      </h3>
    </div>
    <div class="follow"> <!--row-->
      <ion-button [ngClass]="{'following':followButton.chance}" size="small" class="buttonFollow" strong="true" mode="ios" (click)="changeFollow()"><span style="text-transform:none!important;">{{followButton.follow}}</span></ion-button>
    </div>
</div>

