<style>
  @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

<ion-content mode="md">
  <div class="ion-padding">
    <div class="profileContent" *ngIf="userInfo">
      <div class = "imgPlace">
        <div class="profileMask">
          <img [src]="userInfo.photo">
        </div>
      </div>
      <div class="userInfo">
        <div class="userNames">
          <h2 class="username">{{userInfo.nickname}}</h2><ion-icon name="leaf-outline" class="leaf"></ion-icon>
        </div>

        <div class="userNumbers">
          <div class="userPosts" *ngIf="postInfo">
            <div class="number"><h3>{{postInfo.length}}</h3></div>
            <div class="numberText"><h6>Publicações</h6></div>
          </div>
          <div class="userFollowers">
            <div class="number"><h3>{{userInfo.followers}}</h3></div>
            <div class="numberText"><h6>Seguidores</h6></div>
          </div>
          <div class="userFollowing">
            <div class="number"><h3>{{userInfo.followed}}</h3></div>
            <div class="numberText"><h6>Seguindo</h6></div>
          </div>
        </div>
      </div>
    </div>
    <div class="hr"></div>

    <div class="conteudo">
     <div class="myProfile">
        <ion-icon name="person-circle-outline" size="large"></ion-icon><h5 (click)="perfil()">Meu Perfil</h5>
     </div>
     <div class="logout" (click)="logout()">
        <ion-icon name="exit-outline" size="large"></ion-icon><h5>Sair</h5>
     </div>
    </div>
  </div>
</ion-content>
