*{
    --ion-background-color: #272727;
    font-family: 'Poiret One';
    --color: #50D890;
}

.profileContent {
    display: flex;
}

.profileMask {
    width: 30%;
    display: inline-block;
    height: auto;
    border-radius: 50px;
    overflow: hidden;
    align-self: center;

}

.profileMask img {
    width: 100%;
    border-radius: 50%;
    height: auto;
    object-fit: cover;
    background-size: cover;
}

.userNumbers {
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.userInfo {
    width: 100%;
    margin-left: 2%;
}

.hr {
    background-color: #C4FB6D;
    height: 0.1px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.userPosts, .userFollowing, .userFollowers {
    width: 100%;
    align-self: center;
}

.number, .numberText {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
    margin-top: 0%;
    margin-bottom: 2%;
    color: #FFE9E9;
}

.leaf {
    color: #C4FB6D;
    margin-left: 5%;
}

.names {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 100%;
}

.nick {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    width: 100%;
    -webkit-text-stroke: 0.5px #50D890;
}

h3 {
    color: #50D890;
    font-size: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    -webkit-text-stroke: 0.5px #50D890;
}

h5 {
    color: #FFE9E9;
    margin-left: 5%;
}

h6 {
    font-size: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: silver;
    font-family: 'Roboto', sans-serif;
}

.logout, .myProfile {
    display: flex;
    align-content: center;
    align-items: center;
}

.logout {
    margin-top: 10%;
}
